[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = ">=1.26"
pandas = ">=2.1"
matplotlib = ">=3.8"
seaborn = ">=0.13"
scikit-learn = ">=1.4"
prophet = ">=1.1.5"
torch = ">=2.2"
fastapi = ">=0.110"
pydantic = ">=2.6"
jupyter = ">=1.0"
ipykernel = ">=6.29"
python-dateutil = ">=2.9"
uvicorn = {extras = ["standard"], version = ">=0.29"}

[dev-packages]
jupyter = "*"
ipykernel = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.13"
